name = "FMin"
uuid = "b7bab496-830c-4b53-8aec-8b9a988c40b4"
authors = ["kagalenko-m-b <16374215+kagalenko-m-b@users.noreply.github.com> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
